.container{
    padding-top: 20px;
}
.modal{
    display: block;
}
.btn{
    margin:5px;
}
#form{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #33333350;
    display: none;
    justify-content: center;
    align-items: center;
}
.formContentContainer{
    width: 40%;
    min-width: 250px;
}
.formContent{
    width: 50%;
    min-width: 300px;
}
.card{
    margin:10px;
}

.imageContainer{
    width:100px;
    height: 100px;
    margin:10px;
}
.pageImage{
    width:100%;
}
.detailsInfo{
    margin-left: 20px;
}
.detailsPage{
    display: flex;
    align-items: center;
}

.borderedContainer{
    border:1px solid #3c3c3c50;
    padding:5px;
    margin:10px;
}

#studentForm{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #33333350;
    display: none;
    justify-content: center;
    align-items: center;
}
#teacherForm{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #33333350;
    display: none;
    justify-content: center;
    align-items: center;
}
.radioBtnContainer{
    overflow: auto;
}
.form-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.radioImg{
    width: auto;
    height: 50px;
    border-radius: 50%;
}
